.qrcode-container {
    border: 0px solid #ccc;
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: 30px;
    transition: 0.2s ease-out;
}

.qrcode-container:hover {
    background-color: #F0F0F0;
}

@media (max-width: 768px) {
    .qrcode-container {
        margin-left: 0px;
    }
}