@import '../../utils/variables';

.rodape {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding-top: 5px;
    background: linear-gradient(to top, $primary-color, lighten($primary-color, 5%), lighten($primary-color, 10%));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 0px 5px 0px $dark-color;
}

.termos-link {
    font-weight: bold;
    text-decoration: none;
}

.rodape h1 {
    font-weight: lighter;
    text-align: center;
}

@media (max-width: 768px) {
    .rodape {
        width: 95%;
        padding-inline: 20px;
    }
}