// Importa o arquivo de variáveis globais para garantir consistência e reutilização de estilos em todo o projeto.
@import '../../utils/variables';

.area-divider {
    height: 2px;
    background-color: $primary-color;
    margin-inline: 20%;
}