$primary-color: #602e9d;
$primary-color-hover: #543d6d;
$back-tranparent-color: rgba(108, 79, 139, 0.4);
$secondary-color: gray;
$light-color: white;
$dark-color: #38393c;
$button-color: rgba(240, 240, 240, 0.4);
$button-hover-color: #F0F0F0;
$transparent-color: rgba(0, 0, 0, 0);
$back-full-page: #F2F2F2;