@import 'variables';

// Fontes
.font-primary-type {
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.text-with-border {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.sombras {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.primary-text {
    color: $primary-color;
}

.secundary-text {
    color: $secondary-color;
}

.light-text {
    color: $light-color;
}

.start {
    display: flex;
    justify-content: start;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    height: auto;
}

.end {
    display: flex;
    justify-content: end;
    height: auto;
}


// Margens
@for $i from 1 through 9999 {
    .m-#{$i} {
        margin: #{$i}px;
    }
}

// width
@for $i from 1 through 9999 {
    .w-#{$i} {
        width: #{$i}px;
    }

    .mw-#{$i} {
        max-width: #{$i}px;
    }
}

// height
@for $i from 1 through 9999 {
    .h-#{$i} {
        height: #{$i}px;
    }

    .mh-#{$i} {
        max-height: #{$i}px;
    }
}


// Margens
@for $i from 1 through 9999 {
    .m-#{$i} {
        margin: #{$i}px;
    }

    .mi-#{$i} {
        margin-inline: #{$i}px;
    }

    .mb-#{$i} {
        margin-block: #{$i}px;
    }

    .mt-#{$i} {
        margin-top: #{$i}px;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }

    .ml-#{$i} {
        margin-left: #{$i}px;
    }

    .mr-#{$i} {
        margin-right: #{$i}px;
    }
}

// Paddings
@for $i from 1 through 9999 {
    .p-#{$i} {
        padding: #{$i}px;
    }

    .pi-#{$i} {
        padding-inline: #{$i}px;
    }

    .pb-#{$i} {
        padding-block: #{$i}px;
    }

    .pt-#{$i} {
        padding-top: #{$i}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }

    .pl-#{$i} {
        padding-left: #{$i}px;
    }

    .pr-#{$i} {
        padding-right: #{$i}px;
    }
}

// Flexbox
.row-div {
    display: flex;
    flex-direction: row;
}

.column-div {
    display: flex;
    flex-direction: column;
}

// Tamanhos de fonte
@for $i from 1 through 100 {
    .fs-#{$i} {
        font-size: #{$i}pt;
    }
}