// Importa o arquivo de variáveis SCSS, onde são definidos valores reutilizáveis como cores e tamanhos
@import 'variables';

// Mapa de cores
$colors: (
    primary: $primary-color,
    primary-hover: $primary-color-hover,
    back-transparent: $back-tranparent-color,
    box-shadow: $box-shadow,
    secondary: $secondary-color,
    light: $light-color,
    dark: $dark-color,
    button: $button-color,
    button-hover: $button-hover-color,
    transparent: $transparent-color,
    back-full-page: $back-full-page,
    link: $link-clor,
    link-hover: $link-clor-hover
);

// Formatação padrão das páginas
.body-size {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
// Ajuste da formatação padrão das páginas no mobile
@media (max-width: 768px) {
    .body-size {
        margin-inline: 30px;
    }
}

// Mixin para gerar classes de cor
@mixin color-classes {
    @each $name, $color in $colors {
        .color-#{$name} {
            color: $color;
        }
    }
}

// Gerar classes de cor
@include color-classes;

// Mixin para gerar classes de escala de transformação
@mixin generate-scale-classes($start, $end, $step) {
    @for $i from $start through $end {
        @for $j from 0 through 9 {
            .scale-#{$i}-#{$j} {
                transform: scale($i + $j / 10);
            }
        }
    }
}

// Gerar classes de escala de 0.0 a 3.9 com passo de 0.1
@include generate-scale-classes(0, 3, 1);

// Fontes
.font-primary-type {
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.text-with-border {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.sombras {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

// Ajustes de posição
.start {
    display: flex;
    justify-content: start;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    height: auto;
}

.end {
    display: flex;
    justify-content: end;
    height: auto;
}

// Margens
@for $i from 1 through 9999 {
    .m-#{$i} {
        margin: #{$i}px;
    }
}

// width
@for $i from 1 through 9999 {
    .w-#{$i} {
        width: #{$i}px;
    }

    .mw-#{$i} {
        max-width: #{$i}px;
    }
}

// height
@for $i from 1 through 9999 {
    .h-#{$i} {
        height: #{$i}px;
    }

    .mh-#{$i} {
        max-height: #{$i}px;
    }
}

// Margens
@for $i from 1 through 9999 {
    .m-#{$i} {
        margin: #{$i}px;
    }

    .mi-#{$i} {
        margin-inline: #{$i}px;
    }

    .mbl-#{$i} {
        margin-block: #{$i}px;
    }

    .mt-#{$i} {
        margin-top: #{$i}px;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }

    .ml-#{$i} {
        margin-left: #{$i}px;
    }

    .mr-#{$i} {
        margin-right: #{$i}px;
    }
}

// Paddings
@for $i from 1 through 9999 {
    .p-#{$i} {
        padding: #{$i}px;
    }

    .pi-#{$i} {
        padding-inline: #{$i}px;
    }

    .pbl-#{$i} {
        padding-block: #{$i}px;
    }

    .pt-#{$i} {
        padding-top: #{$i}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }

    .pl-#{$i} {
        padding-left: #{$i}px;
    }

    .pr-#{$i} {
        padding-right: #{$i}px;
    }
}

// Flexbox
.row-div {
    display: flex;
    flex-direction: row;
}

.column-div {
    display: flex;
    flex-direction: column;
}

// Tamanhos de fonte
@for $i from 1 through 100 {
    .fs-#{$i} {
        font-size: #{$i}pt;
    }
}