// Importa o arquivo de variáveis globais para garantir consistência e reutilização de estilos em todo o projeto.
@import '../../utils/variables';

.accordion-links {
    border: none;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;

    .acordion-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        width: 100%;
        border-bottom: 1px solid $secondary-color;
        background-color: rgb(240, 240, 240);
        color: $dark-color;
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        position: relative;

        .title-btn {
            flex: 1;
            text-align: left;
        }

        .status {
            text-align: right;
            min-width: 60px;
            margin-right: 10px;
        }

        &::after {
            content: '▼';
            position: absolute;
            right: 10px;
            transition: transform 0.4s ease-out;
        }

        &.open::after {
            transform: rotate(180deg);
        }
    }

    .accordion-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-direction: row;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        border-bottom: 1px solid $secondary-color;
        background-color: $light-color;

        &.open {
            max-height: 1000px;
            transition: max-height 0.3s ease-in;
        }

        .center {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px 20px;

            .info-container-acordion {
                flex: 1;
                text-align: left;

                .link-mostrar-acordion {
                    text-decoration: none;
                    color: $link-clor;
                    font-weight: bold;
                    color: $dark-color;
                    font-weight: normal;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .info-acordion {
                    @extend .link-mostrar-acordion;
                    color: $dark-color;
                    font-weight: normal;

                    .span-date {
                        color: $dark-color;

                        &.span-date:hover {
                            color: $dark-color;
                        }
                    }
                }
            }

            .button-container-acordion {
                display: flex;
                align-items: center;

                .toggle-button {
                    border-radius: 4px;
                    padding: 7px;
                    border: none;
                    color: white;
                    cursor: pointer;

                    &.active {
                        background-color: #00d26a;
                    }

                    &.inactive {
                        background-color: #f8312f;
                    }
                }

                .delete-button {
                    border: none;
                    background-color: $transparent-color;
                    cursor: pointer;
                }
            }
        }
    }

    .paginator-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;

        button {
            padding: 5px 10px;
            border: 1px solid $secondary-color;
            background-color: $light-color;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }

            &:hover:not(:disabled) {
                background-color: $primary-color;
                color: #fff;
            }
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: $dark-color;
        }
    }
}