.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 212px;
}

.loading-spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #6C4F8B;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}