// Importa o arquivo de variáveis SCSS, onde são definidos valores reutilizáveis como cores e tamanhos
@import './utils/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $back-full-page;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}